.greenBackground{
    -fx-background-image: url("images/backgroundGreen.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 610 400;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.titleText{
    /*-fx-font-family: Impact;*/
    -fx-font-family: "Power Red and Blue Intl";
}
.cardGIF1{
    -fx-background-image: url("images/spinCards.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: 300 200;
    -fx-background-position: left;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}
.cardGIF2{
     -fx-background-image: url("images/spinCards.gif");
     -fx-background-repeat: stretch;
     -fx-background-size: 300 200;
     -fx-background-position: right;
     -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
 }